<style>
    .angular-google-map-container {
        width: 100%;
        height: 400px;
    }

    /* fix for Twitter Bootstrap handling of responsive images */
    .angular-google-map img {
        max-width: none;
    }

    .angular-google-map {
        top: 80px;

    }


    .ngdialog-content{
        border: 5px solid #f7941e !important;
        border-radius: 0 !important;
        padding:25px 0!important; }


    .ngdialog-content p{
        font:13px/18px Arial,Helvetica,sans-serif;
        margin:0 15px;
    }
    .ngdialog-content h2{
        margin-left:15px;
        margin-right:15px;
    }


    .sp_li{
        cursor:pointer;
    }

    .confirmPopup .ngdialog-content{
        position:relative;
        margin:0 auto;
        width:80%;
        padding:3px 10px!important;
        animation:0.5s ease 0s normal none 1 running ngdialog-flyin;
		text-align:center;
		
		  font-family: veneerregular!important;
		  font-size:30px!important;
		  color:#000 ;
		  margin-top:25%;
		  line-height:30px;
    }
	
	
	  .confirmPopup .ngdialog-content a{ color:#000 ;}
	
		.confirmPopup .ngdialog-content div:first-child{ padding:25px 0 20px 0;   font-family: veneerregular!important; font-size:30px!important;
		  color:#000 ; }


</style>


<div class="mobile-top-con" ng-include="'partials/header.html'"></div>


<div id="sp-nav" ng-include="'partials/menu.html'"></div>

<div id="sp-page" >
    <div class="experience-wrapper" style="width:98%;">

        <div class="createevent-body" style="width:100%;">
        <div class="header_msg"> GPS YOUR ROUTE </div>

        <div id="sports_div" ng-click="sports_divClick()">
            <span ng-class="((!state1)?'arrowImg':'arrowTog')">Sports<span id="sportsName"></span></span>
        </div>

            <ul class="sp_list" id="sportsList" style="height:300px;overflow:auto; display: none;">
            </ul>

            <div id="loc_h_div"  ng-click="loc_h_divClick()"><span ng-class="((!state2)?'arrowImg':'arrowTog')">Location</span></div>
            <div class="loc_div" id="loc_div" style="display: none;">
                <input type="text" maxlength="255" id="RouteMap_route_name" ng-model="route_name" placeholder="ROUTE NAME">

            </div>


            <div class="foo-div2"><input type="button" value="Begin" class="stbtn" ng-click="begin()"></div>





</div>
        <div class="clear"></div>

        <div class="footer-menu1">

            <span>&copy;TORKQ</span>
            <span>|</span>
<span>
<a href="javascript:void(0);" ng-click="showtermsploicy('terms')">TERMS </a>
</span>
            <span>|</span>
<span>
<a href="javascript:void(0);" ng-click="showtermsploicy('policy')">PRIVACY</a>
</span>
        </div>


    </div>

</div>