<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Torqkd</title>
<link href="css/style.css" type="text/css" rel="stylesheet" media="all" />
</head>
<body>
<div class="completesignup-body">

<div class="completesignup_wrapper">
  
    <div class="logo" > <a href="#/index"> <img  alt="#" src="images/logo.png" /> </a> </div>
    
    <h1 style="font-weight:normal; margin-top:30px;">
<img alt="#" src="images/getstarted.jpg">
</h1>

<h4 style="background: none; padding:20px 0 20px 5px; margin-top:0px; color:#333; font-size:16px; color:#636d76; font-family:reservation; font-family:reservation; font-weight:normal; text-transform: uppercase;">Sign Up Complete!</h4>
      <p style="font-family:Arial, Helvetica, sans-serif; color:#636d76; font-size:12px; font-weight:bold; line-height:20px; padding:0 0 20px 5px;">
You have successfully created your account! To begin using this site
<a style="color:#ba3608;" href="#/login" >login</a>
with the username and password you just created.
</p>
    
  
  
  <input class="login-btn" type="button" ng-click="next_com()" value="LOGIN" >  
    
    </div>
    
    
  

  <div class="footer-menu2"> <span>&copy;TORQK'D</span> <span>|</span> <span> <a href="javascript:void(0);">TERMS </a> </span> <span>|</span> <span> <a href="javascript:void(0);">PRIVACY</a> </span> </div>
</div>
</body>
</html>
