<style type="text/css">

.mobile-top-body{ background:#dfe2e2; position:fixed; top:0; z-index:9999; width:100%; height:90px;}


.experience-wrapper{padding-top:90px; padding-bottom:70px;}

.image_box_wrapper{ width:100%;  overflow: hidden; }

.image_box{ float: left;
	width: 25%;
  box-sizing: border-box;

  color: #171e42;
  padding: 0.5%; height:135px; overflow:hidden; position:relative;}

.image_box img{ width:100%; border:solid 1px #555555;}

.playicon{ width:20%!important; left:40%; top:30%; position:absolute; border:none!important; cursor:pointer;}


.uploadfooter{ background:#dfe2e2; position:fixed; bottom:0; z-index:9999; width:100%; height:60px;}

.uploadfooter .uploadfooter_wrapper{ width:180px; margin:11px auto;}

 @media screen and (max-width:960px) {
 .image_box{ 
	width: 25%; height:120px; overflow:hidden;}
 }


 @media screen and (max-width:840px) {
 .image_box{ 
	width: 25%; height:100px; overflow:hidden;}
 }
 
  @media screen and (max-width:680px) {
 .image_box{ 
	width: 33%; height:118px; overflow:hidden;}
 }


  @media screen and (max-width:620px) {
 .image_box{ 
	width: 33%; height:90px; overflow:hidden;}
 }
   @media screen and (max-width:440px) {
 .image_box{ 
	width: 33%; height:80px; overflow:hidden;}
 }
 
    @media screen and (max-width:400px) {
 .image_box{ 
	width: 50%; height:110px; overflow:hidden;}
 }
 
 
     @media screen and (max-width:360px) {
 .image_box{ 
	width: 50%; height:90px; overflow:hidden;}
 }
 
 
 
</style>

<div class="mobile-top-body">
<div class="mobile-top-con" ng-include="'partials/header.html'"></div>
</div>  
  
<div id="sp-nav" ng-include="'partials/menu.html'"></div>

  
<div id="sp-page" >
<div class="experience-wrapper">

<div class="image_box_wrapper">

<div class="image_box"><img alt="#" src="images/1.jpg"/></div>
<div class="image_box"><img alt="#" src="images/2.jpg"/></div>
<div class="image_box"><img alt="#" src="images/3.jpg"/></div>
<div class="image_box"><img alt="#" src="images/4.jpg"/></div>


<div class="image_box">
<img alt="#" src="images/4.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>

<div class="image_box">
<img alt="#" src="images/3.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box">
<img alt="#" src="images/2.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box">
<img alt="#" src="images/1.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box"><img alt="#" src="images/1.jpg"/></div>
<div class="image_box"><img alt="#" src="images/2.jpg"/></div>
<div class="image_box"><img alt="#" src="images/3.jpg"/></div>
<div class="image_box"><img alt="#" src="images/4.jpg"/></div>


<div class="image_box">
<img alt="#" src="images/4.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>

<div class="image_box">
<img alt="#" src="images/3.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box">
<img alt="#" src="images/2.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box">
<img alt="#" src="images/1.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>

<div class="image_box"><img alt="#" src="images/1.jpg"/></div>
<div class="image_box"><img alt="#" src="images/2.jpg"/></div>
<div class="image_box"><img alt="#" src="images/3.jpg"/></div>
<div class="image_box"><img alt="#" src="images/4.jpg"/></div>


<div class="image_box">
<img alt="#" src="images/4.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>

<div class="image_box">
<img alt="#" src="images/3.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box">
<img alt="#" src="images/2.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box">
<img alt="#" src="images/1.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box"><img alt="#" src="images/1.jpg"/></div>
<div class="image_box"><img alt="#" src="images/2.jpg"/></div>
<div class="image_box"><img alt="#" src="images/3.jpg"/></div>
<div class="image_box"><img alt="#" src="images/4.jpg"/></div>


<div class="image_box">
<img alt="#" src="images/4.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>

<div class="image_box">
<img alt="#" src="images/3.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box">
<img alt="#" src="images/2.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box">
<img alt="#" src="images/1.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>

<div class="image_box">
<img alt="#" src="images/4.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>

<div class="image_box">
<img alt="#" src="images/3.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box">
<img alt="#" src="images/2.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box">
<img alt="#" src="images/1.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box">
<img alt="#" src="images/4.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>

<div class="image_box">
<img alt="#" src="images/3.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box">
<img alt="#" src="images/2.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>
<div class="image_box">
<img alt="#" src="images/1.jpg"/>

<img alt="#" src="images/playVideo.png" class="playicon"/>

</div>



<div style="clear:both"></div>

</div>
	
</div>
</div>



<div class="uploadfooter">
<div class="uploadfooter_wrapper">
<a href="#"><img alt="#" src="images/photoicon.png" style="display:block; float:left;"/></a>

<a href="#"><img alt="#" src="images/videoicon.png" style="display:block; float:right; margin-top:1px;"/></a>
<div style="clear:both"></div>
</div>

</div>