<style>
label.has-error{
	color: #f8931f !important;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width: 84% !important;
    display: block;
    margin: 0px auto !important;
    padding: 0 !important;
    text-align: left !important;
    font-weight: normal !important;
}
/*.form-group{
	margin:0 !important;
	width:100% !important;
}*/
.ngdialog-content{
    border: 5px solid #f7941e !important;
    border-radius: 0 !important;
    padding:25px 15px!important;
}

.ngdialog-content p{
    font:13px/18px Arial,Helvetica,sans-serif;
}

</style>

<div class="login-body">
  <div class="login-top">
     <div class="login-wrapper">    <div class="logo" > <a href="#/index"> <img  src="images/logo_main.png" alt="#"/>   </a> </div></div>
  </div>
<div class="login-box">
    <h3 style="margin-top:0px;   color: rgb(247, 147, 29);
    font-family: veneerregular;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-left: 20px !important;
 
    text-align: left;">RESET PASSWORD</h3>
    <p style=" margin: 0 auto;
    padding: 0 0 20px;
    width: 84%; font-family:Arial, Helvetica, sans-serif; font-size:14px;">Check your email then enter your code to reset your password.</p>


  <form angular-validator-submit="submitloginForm()" name="loginForm" class="form-horizontal" novalidate angular-validator> 
		<label class="has-error" ng-show="msgFlag">Your code is invalid.</label>
        <div class="form-group">
			<div class="col-sm-10" style="width:100%; padding:0;">
				<input type="text" id="UserManager_email" name="email" placeholder="ENTER THE CODE"
						validate-on="blur"
                        class = "form-control UserLogIn_email"
                        ng-model = "form.email"
                        required-message="'Active code cannot be blank.'"
                        required>
			</div>
		</div>

<button  class="loginbtn"  type="submit"  style="width:100px; margin:10px 0 0 24px;">Submit</button>
		</form>
		</div>

		 
  
  <div class="footer-menu2">
<span>&copy;TORKQ</span>
<span>|</span>
<span>
<a href="javascript:void(0);" ng-click="showtermsploicy('terms')">TERMS </a>
</span>
<span>|</span>
<span>
<a href="javascript:void(0);" ng-click="showtermsploicy('policy')">PRIVACY</a>
</span>
</div>
  
  
  


</div>