<style>
label.has-error{
	color: #f8931f !important;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width: 84% !important;
    display: block;
    margin: 0px auto !important;
    padding: 0 !important;
    text-align: left !important;
    font-weight: normal !important;
}
/*.form-group{
	margin:0 !important;
	width:100% !important;
}*/
.ngdialog-content{
    border: 5px solid #f7941e !important;
    border-radius: 0 !important;
    padding:25px 15px!important;
}

.ngdialog-content p{
    font:13px/18px Arial,Helvetica,sans-serif;
}


#UserManager_password{ background: #fff none repeat scroll 0 0 !important;
    border: 3px solid #97989a !important;
    border-radius: 5px !important;
    font-family: Helvetica,Arial,sans-serif !important;
    font-size: 20px !important;
    padding: 6px !important;
    width: 86% !important; height:44px; display:block; margin:0 auto; margin-bottom:10px;}
	
	
#UserManager_password2{ background: #fff none repeat scroll 0 0 !important;
    border: 3px solid #97989a !important;
    border-radius: 5px !important;
    font-family: Helvetica,Arial,sans-serif !important;
    font-size: 20px !important;
    padding: 6px !important;
    width: 86% !important; height:44px; display:block; margin:15px auto; margin-bottom:10px;}
</style>


<div class="login-body">
  <div class="login-top">
     <div class="login-wrapper">    <div class="logo" > <a href="#/index"> <img  src="images/logo_main.png" alt="#"/>   </a> </div></div>
  </div>
<div class="login-box">
    <h3 style="margin-top:0px;   color: rgb(247, 147, 29);
    font-family: veneerregular;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-left: 20px !important;
 
    text-align: left;">RESET PASSWORD</h3>

  <form angular-validator-submit="submitloginForm()" name="loginForm" class="form-horizontal" novalidate angular-validator> 
        <div class="form-group">
			<div class="col-sm-10" style="width:100%; padding:0;">
                <input type="password" id="UserManager_password" name="UserManager[password]" placeholder="PASSWORD"
                       validate-on="dirty"
                       class = "form-control register_input"
                       ng-model = "form.password"
                       validator = "passwordValidator(form.password) === true"
                       invalid-message = "passwordValidator(form.password)"
                        >
			</div>
		</div>
      <div class="form-group">
          <div class="col-sm-10" style="width:100%; padding:0;">
              <input type="password" id="UserManager_password2" name="UserManager[password2]" placeholder="CONFIRM PASSWORD"
                     validate-on="dirty"
                     class = "form-control register_input"
                     ng-model = "form.password2"
                     validator = "form.password === form.password2 || form.password == ''"
                     invalid-message = "'Passwords do not match!'"
                      >
          </div>
      </div>

<button  class="loginbtn"  type="submit" style="width:100px; margin:10px 0 0 24px;">Submit</button>
		</form>
		</div>

		 
  
  <div class="footer-menu2">
<span>&copy;TORKQ</span>
<span>|</span>
<span>
<a href="javascript:void(0);" ng-click="showtermsploicy('terms')">TERMS </a>
</span>
<span>|</span>
<span>
<a href="javascript:void(0);" ng-click="showtermsploicy('policy')">PRIVACY</a>
</span>
</div>
  
  
  


</div>