<style>

    .ngdialog-content{
        border: 5px solid #f7941e !important;
        border-radius: 0 !important;
        padding:25px 15px!important;
    }

    .ngdialog-content p{
        font:13px/18px Arial,Helvetica,sans-serif;
    }



</style>

<div class="mobile-top-con" ng-include="'partials/header.html'"></div>
  
  
<div id="sp-nav" ng-include="'partials/menu.html'"></div>

  
<div id="sp-page" >
<div class="experience-wrapper">

<div class="forumpress-table">
	<h2 style="font-size:30px;"><a href="javascript:void(0);" style="font-size:30px;">Discussion Forums</a></h2>
	<div class="clear"></div>
	<div class="top-heading" style="margin-top: 15px;">{{user_name}}</div>
	
	<div class="rowone" ng-show="sessUser > 0">

        <div class="left-img1">
			<img style="width: 60px; height: 60px;" src="{{user_image}}"  alt="#"  width="100px"/>
		</div>
        <div class="clear"></div>
    </div>
	
       <div class="clear"></div>
    <h2>
        <span style="font-size:20px; letter-spacing:0px; padding:12px 0 0 0;" ng-repeat="h in headingArr"><a style="font-size: 30px;" href="{{h.link}}">{{h.value}}</a><label ng-show="!$last">&raquo;</label></span>
    </h2>
       <div class="clear"></div>
	<div ng-repeat="item in forumList">
		<div  class="top-row">
			<div style="border:none; padding:0 2%; height:auto;" class="div1"><a href="#/forum-listing1/{{item.id}}" style="color: #f7941e;">{{item.sport_name}}</a></div>
			
			<div style="border:none;  padding:0 2% height:auto;;"  class="div3">POST</div>
			
			<div style="border:none;  padding:0 2%; height:auto;"  class="div4">LATEST POST</div>
			
			<div class="clear"></div>
		</div>
		
		<div ng-repeat="forum in item.forumL" class="table-row2">
		
			<div class="div1">
				<div>
					<div style="padding-bottom: 8px; font-weight: bold;"><a href="#/forum-details/{{forum.id}}" style=" color:#000;">{{forum.name}}</a></div>
					<div ng-bind-html="forum.description">
					</div>
				</div>
			</div>
			
			<div class="div3">
				<div style="display:block; line-height: 100px; ">{{forum.no_post}}</div>
			</div>
			
			<div style="border-right:none;"  class="div4">
				<div ng-show="!forum.lpost" style="color: #f7941e  !important; font-size: 15px!important;">No topics yet</div>
				<div ng-show="forum.lpost">
					<a style="font-size:15px;" href="#/forum-details/{{forum.id}}">{{forum.lpostArr.title}}</a>
					<div style="color: #f7941e  !important; padding-top: 8px;">
						<strong  style="color: #333 !important">{{forum.lpostArr.time}} - </strong> {{forum.lpostArr.user_name}}</div>
				</div>
			</div>
			
			<div class="clear"></div>

		</div>	
	</div>
    
    
    </div>
    

</div>


 <div class="clear"></div>

<div class="footer-menu1">
<span>&copy;TORKQ</span>
<span>|</span>
<span>
<a href="javascript:void(0);" ng-click="showtermsploicy('terms')">TERMS </a>
</span>
<span>|</span>
<span>
<a href="javascript:void(0);" ng-click="showtermsploicy('policy')">PRIVACY</a>
</span>
</div>

</div>
