    <div class="topcoat-list-container" ng-show="sessUser">
        <ul class="topcoat-list">
            <li class="topcoat-list__item"><a href="#/profile/{{sessUser}}">Profile</a></li>
            <li class="topcoat-list__item"><a href="#/friend-list/{{sessUser}}">Friends</a></li>
            <li class="topcoat-list__item"><a href="#/connection/{{sessUser}}">Community</a></li>
            <li class="topcoat-list__item"><a href="#/album/{{sessUser}}">Album</a></li>
            <li class="topcoat-list__item"><a href="#/video">TORQK'D TV</a></li>
            <li class="topcoat-list__item"><a href="#/routes/{{sessUser}}">View Routes</a></li>
            <li class="topcoat-list__item"><a href="#/add-event">Add Events</a></li>
            <li class="topcoat-list__item"><a href="#/add-group">Add Groups</a></li>
            <li class="topcoat-list__item"><a href="#/comingsoon">Add Routes</a></li>
            <li class="topcoat-list__item"><a href="#/forum-listing">Forum</a></li>
            <li class="topcoat-list__item"><a href="#/comingsoon">Daily Poll</a></li>
            <li class="topcoat-list__item"><a href="#/eventmap">Event Map</a></li>
            <li class="topcoat-list__item"><a href="#/mysports">My Sports</a></li>
            <li class="topcoat-list__item"><a href="#/edit-profile">Update Profile</a></li>
            <li class="topcoat-list__item"><a href="#/experience">The Experience</a></li>
            <li class="topcoat-list__item"><a href="#/logout">Logout</a></li>

            
        </ul>
    </div>
