<style>

    .ngdialog-content{ background-color: #f6f9fa !important;
        border: 5px solid #f7941e !important;
        border-radius: 0 !important; padding:0!important; width:99%; margin:0 auto!important;}

    .ngdialog-content p{
        font:13px/18px Arial,Helvetica,sans-serif;
        margin:0 15px;
    }
    .ngdialog-content h2{
        margin-left:15px;
        margin-right:15px;
    }


</style>

<div class="next-body">
  <div class="register_wrapper">
    <div class="logo" > <a href="#/index"> <img  alt="#" src="images/logo_main.png" /> </a> </div>
    <div class="menupart4"></div>
    <div class="activities_contain">
      <h2><img  alt="#" src="images/invitefrds.jpg" id="nextH"></h2>
     
    <div class="inviteFriends"> 
	<form angular-validator-submit="sendEmail()" name="sendEmailForm" class="form-horizontal" novalidate angular-validator>
   
    <h4>Enter Your Friends' Email Addresses</h4>
	<div>
    <textarea id="friend_emails" name="senderList" placeholder="ADD EMAIL ADDRESSES SEPARATED BY COMMAS"
						validate-on="sub"
                        class = "form-control"
                        ng-model = "form.senderList"
                        required-message="'Please Enter Sender Email.'"
                        required></textarea> 
    </div>
	<h5>Email Message</h5>
    <textarea id="email_text"  name="mailBody"
						validate-on="sub"
                        class = "form-control"
                        ng-model = "form.mailBody"
                        required-message="'Please Enter Mail Body.'"
                        required></textarea>
    <input class="see-btn2" type="submit" value="EMAIL" >
	</form>
      
    <h6 id="inviteDiv">INVITE FRIENDS VIA YOUR ONLINE ADDRESS BOOK</h6>
      
    <select id="social_select" ng-model="social_select">
		<option value="" data-original-title="">SELECT SERVICE</option>
		<option value="fb" data-original-title="">FACEBOOK</option>
        <option value="tw" data-original-title="">TWITTER</option>
	</select>


<input class="see-btn2" type="button" value="INVITE" ng-click="social_share()" name="inviter_submit" data-original-title="">
<div style="clear:both;"></div>

     <input  class="activities-submit" type="button" ng-click="next_n()" value="next step" >  
      
      </div> 
        
   
        
       
       
       
       
        
    </div>
  </div>
  <div class="footer-menu2"> <span>&copy;TORKQ</span> <span>|</span> <span> <a href="javascript:void(0);" ng-click="showtermsploicy('terms')" >TERMS </a> </span> <span>|</span> <span> <a href="javascript:void(0);" ng-click="showtermsploicy('policy')">PRIVACY</a> </span> </div>
</div>
