<div>
<div  ng-repeat="item in photoList track by item.id" liquid="liquidConfigurations[0]" class="imgLiquidFill imgLiquid" style="width: 230px; height:150px; float :left; margin:5px; border:6px #fff solid; cursor:pointer;"  ng-click="showPhoto(item)">
	<img ng-src="{{item.img_src}}" />
</div>
</div>




<script type="text/ng-template" id="photoComment">
        <div class="ngdialog-message">
		
<div class="photo-popup" style="mmargin: 0 auto; width:100%;text-align:center;overflow: inherit;height: auto; padding:0; ">
	<div>
		<div>
			<div>
				<img alt="" style="max-width:100%; max-height:75%;" src="{{photoDet.imgSrc}}" />
			</div>
		</div>
	</div>
	
       <div class="poprt">
            <div style="background-color:#D1D3D4;" class="comment-area">
				<div class="comment_top">
				
					<div class="profile-img">
						<img  src="{{photoDet.userImage}}" alt="" style=" max-width:50px; max-height:50px;" />
					</div>
					
					<div class="profile-text">
						<div class="name-text">{{photoDet.userName}}</div>
						<div class="text-contain">{{photoDet.timeSpan}}</div>
						<div class="clear"></div>
					</div>
					
					<div class="clear"></div>
					
					<div style="font-size:13px; text-align:left; padding-top:8px;">{{photoDet.msg}}</div>
					
					<div class="cmnt_share">
						<a href="javascript:void(0);">Comments [{{photoDet.commentList.length}}]</a> - <a href="javascript:void(0);">{{photoDet.likeStatus}} [{{photoDet.likeNo}}] </a>
						<b style="font-weight:bold;display:inline-block; " >&bull;</b>
						<a href="javascript:void(0);" style="display: inline-block; position: relative;" ng-click="shareImageStaus(photoDet)">Share</a>
                           
                    </div>
					
				</div>
            
            
            
            
       
                <div class="commen_body">
				
					<div ng-repeat="com in photoDet.commentList track by com.id" class="commend-box">
						<div class="date-link">
							<a href="javascript:void(0);">{{com.time}}</a>
							<img class="closeCBtn" src="images/deletebutton1.png" class="closeBtn" ng-show="com.user_id==sessUser" ng-click="delComment($index,0)" />
						</div>
						
						<div style="width:50px; float:left; height:auto;">
							<img style=" margin-top:2px; max-width:35px; max-height:35px;" alt="" src="{{com.user_image}}" />
						</div>
						
						<div class="combodyu">
							<strong>
								<a href="#/profile/{{com.user_id}}" data-original-title="">{{com.user_name}}</a>
							</strong>
							<br />{{com.body}}
						</div>
						
						<div class="clear"></div>
					</div>
       
                </div> 
      
                <div ng-show="sessUser" class="commendboxpro">
					<div class="profile-img2">
						<img style=" max-width:35px; max-height:35px;" alt="" src="{{photoDet.cUserImage}}">
					</div>

                    <div class="popup-text-box1">
						<textarea placeholder="Write a comment..." ng-model="photoDet.pstval"  ></textarea>
                        <a href="javascript:void(0);" ng-click="postComment(photoDet)" class="mob-post2">POST</a>
                    </div>

                    <div class="clear"></div>

                </div>
 
        
       
       </div>
       
       </div>                             
   </div>

</div>
</script>
