<style>

.ngdialog-content{ 
    border: 5px solid #f7941e !important;
    border-radius: 0 !important; padding:25px 0!important; }


#tabs{ margin-top:25px;}
.newPopup .ngdialog-content{
	position:relative;
	margin:0 auto;
	width:291px;
	height:129px;
	padding:3px 12px;
	animation:0.5s ease 0s normal none 1 running ngdialog-flyin;
	background: url({{baseUrl}}/torqkd_demo/images/hover_mobile.png) no-repeat;
	
	}
.youtubePopup .ngdialog-content{
		position:relative;
		margin:0 auto;
		width:80%;
		padding:3px 12px;
		animation:0.5s ease 0s normal none 1 running ngdialog-flyin;
	}
.confirmPopup .ngdialog-content{
		position:relative;
		margin:0 auto;
		width:80%;
		padding:3px 12px;
		animation:0.5s ease 0s normal none 1 running ngdialog-flyin;
	}
</style>
<div class="mobile-top-con" ng-include="'partials/header.html'"></div>
  
  
<div id="sp-nav" ng-include="'partials/menu.html'"></div>

  
<div id="sp-page" >
<div class="experience-wrapper">



	<div class="movile-tab-body" ng-show="sessUser==currentUser">
		<ul>
			<li><a href="javascript:void(0);">GPS</a></li>
			<!--<li ng-show="isMobileApp"><a href="{{baseUrl}}/user/profile/autoImgUp/page/profile/type/photo/sess_id/{{sessUser}}">CAMERA</a></li>-->
			<li ng-show="isMobileApp"><a href="http://torqkd.com/upload/">CAMERA</a></li>
			<li ng-show="!isMobileApp"><input type="button" class="browsebtn" value="CAMERA" ngf-drop ngf-select ng-model="statusImage1" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-multiple="false" ngf-allow-dir="true" ngf-accept="'image/*'" ngf-drop-available="dropAvailable" ngf-capture="camera">
			</li>
			
		</ul>
        <div class="clear"></div>
		<div class="progress" ng-show="statusImage1[0].progress >= 0" style="margin-bottom: 2px !important;">	<div style="width:{{statusImage1[0].progress}}%; background:#F69830; font-size: 16px;padding-left:10px;" ng-bind="statusImage1[0].progress + '%'"></div>
			</div>
    </div>

	<div class="Stats-slider"  ng-show="sessUser==currentUser">
		<h4>Stats</h4>
		<simple-slider  class="Stats-slider-contain">
			<div ng-repeat="item in statDet track by item.id" >
			<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#DFE2E2 !important;">
  <tr>
    <th  colspan="4">{{item.sport_name}}</th>
  </tr>
  
  <tr>
    <td> <div class="strongtext">{{item.total_dis}}</div><div class="spantext">Distance</div></td>
     <td> <div class="strongtext">{{item.total_time}}</div><div class="spantext">Time</div></td>
      <td> <div class="strongtext">{{item.activity_no}}</div><div class="spantext">Activities</div></td>
       <td>  <div class="strongtext">{{item.event_no}}</div><div class="spantext">Events</div></td>
  </tr>
</table>
			</div>
		</simple-slider>
		<div class="clear"></div>
	</div>

    <div ng-show="sessUser==currentUser" class="status-menu">
		<div class="text-box">
			<textarea ng-focus="isStatusInput=1" ng-model="statusText" placeholder="STATUS UPDATE" style="box-shadow:none;"></textarea>
		</div>
		<div class="menu1">
		
			<a href="javascript:void(0);" ng-click="addVideo()" style="color: #fff;">
            	+<br />
            VIDEO</a>
		</div>
		<div class="menu2">
			
			<a href="javascript:void(0);" ng-click="addPhoto()" style="color: #fff;">
            +<br />
            
            Photo</a>
		</div>
		<div class="clear"></div>
    </div>
	<div class="status-input">
        <div ng-show="isPhoto" style="padding-bottom:15px;">
			<input ng-show="!isMobileApp" type="button" class="browsebtn" value="Click To Browse" ngf-drop ngf-select ng-model="statusImage" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-multiple="false" ngf-allow-dir="true" ngf-accept="'image/*'" ngf-drop-available="dropAvailable" ngf-capture="camera"><br>
			<div class="progress" ng-show="statusImage[0].progress >= 0">	<div style="width:{{statusImage[0].progress}}%; background:#F69830;" ng-bind="statusImage[0].progress + '%'"></div>
			</div>
			<a ng-show="isMobileApp" class="browsebtn" style="display:block;" href="{{baseUrl}}/user/profile/autoImgUp/page/profile/type/photo/sess_id/{{sessUser}}">Click To Browse</a>
		</div>
        <div ng-if="photoval">
			<img src="{{baseUrl}}/uploads/status_img/{{photoval}}" />
		</div>
		
        <div ng-show="isVideo">
			<input type="text" placeholder="Type to search / enter Youtube video url" ng-model="youtubeTxt" class="searchbox" ><br>
			<input type="button" value="search" ng-click="youtubeSearch()" class="searchbtn"/><div  class="btnor">OR</div>
			<input ng-show="!isMobileApp" class="browsebtn" type="button" value="Click To Browse" ngf-drop ngf-select ng-model="statusVideo" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-multiple="false" ngf-allow-dir="true" ngf-accept="'video/*'" ngf-drop-available="dropAvailable" ngf-capture="camera">
			<div class="progress" ng-show="statusVideo[0].progress >= 0">	<div style="width:{{statusVideo[0].progress}}%; background:#F69830;" ng-bind="statusVideo[0].progress + '%'"></div>
			</div>
			<a ng-show="isMobileApp" class="browsebtn" style="display:block;" href="{{baseUrl}}/user/profile/autoImgUp/page/profile/type/video/sess_id/{{sessUser}}">Click To Browse</a>
            </div>
        <div ng-if="videoval1">
			<div style="margin-bottom:10px;" class="embed-responsive embed-responsive-16by9 video-wrapper">
				<youtube-video class="embed-responsive-item" video-id="videoval1"></youtube-video>
			</div>
		</div>
		
		<div ng-if="videoval2">
			<videogular ng-init="vidsources = [{src: (baseUrl+'/uploads/video/converted/'+videoval2), type: 'video/mp4'}]" >
				<vg-media vg-src="vidsources" vg-native-controls="true" ></vg-media>
			</videogular>
		</div>

	<div ng-show="isStatusInput">
        <div>
            <select ng-model="shareVal" >
                <option value="1">Community</option>
                <option value="2">Friends</option>
            </select>


            <input class="lrotbtn" ng-show="isRotateBtn" type="button" ng-click="imgRotate(1)" style="background: url({{baseUrl}}/torqkd_demo/images/rtal.png) no-repeat !important; height:32px; width:112px;">
            <input class="rrotbtn" ng-show="isRotateBtn" type="button" ng-click="imgRotate(2)" style="background: url({{baseUrl}}/torqkd_demo/images/rtar.png) no-repeat !important; height:32px; width:112px;">

            <input type="button" value="cancel" class="postbtn1" ng-click="cancelStatus()" >

            <input type="button" value="POST" ng-click="postStatus()"  class="postbtn2">
            <div class="clear"></div>
        </div>
    </div>
    </div>

	 <div class="clear"></div>
	<div class="top-banner-contain" ng-show="sessUser!=currentUser">
		<div class="usercontain2">
			<div class="user-contain2-img">
				<img src="{{userdet.user_image}}"  alt="" />
			</div>
			
			<h2>{{userdet.user_name}}</h2>
			
			<div class="usericonimage">
				<img ng-repeat="item in userdet.user_sports track by item.id"  src="{{item.imag_name}}" style="float: none;margin-bottom:4px;"  alt="" />
				<a href="#" class="pliocn" style=" color:#f7931e; text-decoration:none; font-weight:bold; margin: 5px;">+</a>
			</div>
		</div>
		
		<div class="userbanner2">
			<img src="{{userdet.user_backimage}}" />
		</div>
		
		
		<div class="clear"></div>
	</div>

	
	
	<div  ng-show="sessUser!=currentUser" class="friends-div">
		<h3 style="margin-right:0px;">Friends :</h3>
			<div>{{frndno}}</div>
			<div class="friendsimgmain">
			<div ng-repeat="item in frnddet track by item.id"  class="friendsimg">
				<div style="width: 45px; height: 45px; display: table-cell; text-align: center; vertical-align: middle; cursor:pointer; border:2px solid #f7931e;" ng-click="userDet(item)">
					<img src="{{item.user_image}}"  alt="" width="40"  />
				</div>
			</div>
			
				</div>
			
		<!--	<div style="height: 55px; width: 1px; float: left;" data-original-title="">&nbsp;</div>-->
			
			<div class="seemoredivbtn"><a href="javascript:void(0);" class="seemorediv">See More</a></div>
			
			<div class="clear"></div>
		
		</div>


	
	<div class="showalbumformobile" ng-show="sessUser!=currentUser">
	
			<div class="link6">
            
            	<a href="javascript:void(0);">VIEW ROUTES	</a>
                
                </div>
	
		<div class="albums-div2">
		
				<img src="images/hs1-0-02.jpg"  alt="" />
				<h2 style="bottom: 40px" data-original-title=""><span style="margin-left: 0px; width:100%;">ALBUMS</span></h2>
				
				<div style="background: #000000; width: 100%; padding:13px 0 13px 0;">
					<div class="daily_photo_text" style="position: relative; top: 0px; float: left; margin-left: 10px; background-image: none;">
                    
						<a style="font-size: 13px; color:#F7941D; font-family:veneerregular; letter-spacing:4px;" href="javascript:void(0);"> PHOTOS & Videos </a>
                        
                    </div>
					<div class="clear"></div>
                </div>
		
		</div>
	</div>




<div ng-include="'partials/social_tab.html'"></div>

<div class="banner2" ng-include="'partials/experience_6.html'"></div>
<div style="clear:both;"></div>

<div class="banner3" ng-include="'partials/experience_7.html'"></div>
<div style="clear:both;"></div>



  
 <div class="footer-menu1">
 
 

			<script type="text/ng-template" id="youtubeVideo">
				<div class="ngdialog-message">
				<div class="youtubeVideo">
					<div class="youtubeVideoBtn"><a href="javascript:void(0)" ng-hide="vidIndex==1" ng-click="vidIndex = vidIndex-1">Prev</a>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" ng-hide="vidIndex == vids.length" ng-click="vidIndex = vidIndex+1">Next</a></div>
					<div ng-repeat="c in vids" ng-show="$index == (vidIndex-1)">
						<div style="margin-bottom:10px;" class="embed-responsive embed-responsive-16by9 video-wrapper" >
							<youtube-video class="embed-responsive-item" video-id="c.id.videoId"></youtube-video>
						</div>
						<h1>{{c.snippet.title}}</h1>
						<a href="javascript:void(0)" ng-click="addYtVideo(c)" class="vidAddBtn">ADD</a>
					</div>
				<div>
				</div>
			</script>


 
<span>&copy;TORQK'D</span>
<span>|</span>
<span>
<a href="javascript:void(0);">TERMS </a>
</span>
<span>|</span>
<span>
<a href="javascript:void(0);">PRIVACY</a>
</span>
</div>
</div>
</div>