<style>
    .ngdialog-content{
        border: 5px solid #f7941e !important;
        border-radius: 0 !important; padding:25px 0!important; }


    .ngdialog-content p{
        font:13px/18px Arial,Helvetica,sans-serif;
        margin:0 15px;
    }
    .ngdialog-content h2{
        margin-left:15px;
        margin-right:15px;
    }

    .angular-google-map-container {
        width: 90%;
        height: 400px;
    }

    .confirmPopup .ngdialog-content{
        position:relative;
        margin:0 auto;
        width:80%;
        padding:3px 12px;
        animation:0.5s ease 0s normal none 1 running ngdialog-flyin;
    }
	
	
	
	#mapconmain{ padding:0px 0 0 30px;}
	#mapconmain img{ display:block; margin:5px auto;}
	
		#mapconmain h2.ng-binding{  color: #f79213;
   
    font-family: "veneerregular";
    font-size: 20px;
    line-height: 22px; padding:5px 0 0 0;} 
	
		#mapconmain .date-contain{ padding:5px 0;}
	
		#mapconmain .date-contain h5 {
    color: #616564;
    font-family: "veneerregular";
    font-size: 16px;
    font-weight: normal;
    line-height:18px;
    margin: 0 !important;
    padding-bottom: 2px;
}
	#mapconmain .date-contain h5 span {
    color: #929497;
    font-family: reservation;
    font-size: 12px;
}
</style>

<div class="mobile-top-con" ng-include="'partials/header.html'"></div>
  
  
<div id="sp-nav" ng-include="'partials/menu.html'"></div>

  
<div id="sp-page" >
<div class="experience-wrapper">

<div class="routes-body-contain">
<div style="width:96%; padding:2%; background:#ebebeb;">
 
	<div style="width:100%;">
		<h4 class="Routestext">Routes</h4>
		<div class="mb-btn" ng-show="sessUser > 0 && sessUser==currentUser"><a href="#/add-route">+</a></div>
        	<div class="clear"></div>
	</div>
    
	<div class="clear"></div>
	<div style="width: 100%; ">
		<div class="ptext">
			<p style="color:#4f4f51;font-size: 13px;margin: 0px; line-height:22px;font-family: 'helvetica', 'arial';font-weight:normal;text-transform:none;letter-spacing:normal;">Below are listed the routes  recorded through either the online system or the Torkq mobile app. Click on the map for a larger view of the route recorded.</p>
		</div>
		<div class="albumPhotos" ng-show="currentUser">
			<img  src="{{user_image}}" alt="">
		</div>
	</div>

    <div class="clear"></div>
<div class="routes-wrapper">

    <div ng-repeat="item in routeList" style="margin: 10px 0; position:relative;" class="routes-row">

        <div class="rowone ">
            {{item.sport_name}} <br />
            <img src="{{item.sport_image}}" style="max-width: 46px;"  alt="" />
        </div>

        <div class="rowtwo ">
            <h2>{{item.route_name}}</h2>
            <div class="date-contain">
                <h5>
                    <span>DATE</span><br />
                    {{item.date}}
                </h5>
                <h5>
                    <span>TIME</span><br />
                    {{item.duration}}
                </h5>
                <h5>
                    <span>DISTANCE</span><br />
                    {{item.distance}} miles
                </h5>

            </div>
        </div>


    <div class="rowthree" id="map{{item.id}}">
        <ui-gmap-google-map center="item.map.center" zoom="item.map.zoom" pan="true" draggable="true">
            <ui-gmap-markers models="item.marker" coords="'self'" icon="'icon'" idkey='id' >
            <ui-gmap-polyline ng-if="item.location.length" path="item.location" draggable="false" geodesic="true" stroke="map.lineStyle" fit="true"></ui-gmap-polyline>
        </ui-gmap-google-map>
    </div>


        <div style="display:block; margin-right: 11px; text-align: right; padding-top:10px;" class="sdiv">
            <a href="javascript:void(0);" ng-click="fbShare(item.id)"><img src="images/newsicon1.png" width="25"  alt="#" /></a>
            <a href="javascript:void(0);" ng-click="twShare(item.id)"><img src="images/newsicon2.png" width="25"  alt="#" /></a>
            <a href="javascript:void(0);" ng-click="prShare(item.id)"><img src="images/newsicon3.png" width="25"  alt="#" /></a>

            <a ng-if="item.user_id==sessUser" href="javascript:void(0)" ng-click="delRoute(item.id,$index)" style="color: #616564; font-family: 'veneerregular'; font-size: 22px; padding:0px 0; text-decoration: none; ">&#10006;</a>
        </div>

        <div id="mapcon{{item.id}}" style="display: none;">


            <div class="rowtwo " style="float: none; width: 170px; margin:0; padding:0;  ">
                <h2 style="  word-wrap: break-word; width: 170px; margin-bottom: 2px; padding-bottom: 2px;color:#000!important">{{item.route_name}}</h2>
                <div class="date-contain" style="padding-top: 0px; margin-top: -3px;color:#000!important">
                    <h5 style="padding: 0px 0; margin-top: -8px;color:#000!important" >
                        <span style="color:#616564!important">DATE</span><br />
                        {{item.date}}
                    </h5>
                    <h5 style="padding: 0px 0; margin-top: -8px;color:#000!important">
                        <span style="color:#616564!important">TIME</span><br />
                        {{item.duration}}
                    </h5>
                    <h5 style="padding: 0px 0; margin-top: -8px;color:#000!important">
                        <span style="color:#616564!important">DISTANCE</span><br />
                        {{item.distance}} miles
                    </h5>
                </div>
            </div>



            <img src="{{item.sport_image}}" style="width:40px; display: block; margin: 0;"  alt="" />
        </div>


    </div>

    <div class="empty" ng-show="routeListCount==0">No results found.</div>
    <div ng-show="viewMore" class="viewMore"><a href="javascript:void(0);" ng-click="viewMoreRoues()">View More</a></div>
    <div ng-show="viewMoreLoad" class="viewMore"><img src="images/loading_list.gif" /></div>


</div>

	</div>
	</div>


    <div style=" width:170px; height:204px;" id="mapconmain" >

    </div>




    <div class="footer-menu1">

        <span>&copy;TORKQ</span>
        <span>|</span>
<span>
<a href="javascript:void(0);"  ng-click="showtermsploicy('terms')">TERMS </a>
</span>
        <span>|</span>
<span>
<a href="javascript:void(0);" ng-click="showtermsploicy('policy')">PRIVACY</a>
</span>
    </div>

</div>
</div>